.h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #0f172a;
  margin: 0px;
}
.button {
  width: 2vw;
  height: 2vw;
  border: 1px solid #E2E8F0;
  padding: 0px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #94a3b8;
}
.wrap {
  display: flex;
  align-items: center;
}
.field {
  display: flex;
  width: auto;
  flex-direction: column;
  
  box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.1),
    0px 4px 6px -1px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  background: #ffffff;

  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  margin-top: 35px;
}
.fieldHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fieldMenu {
  display: flex;
}
.fieldGame {
  width: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(19, 5%);
  grid-gap: 0px;
}
